body {
  padding-top: 70px;
  height: 5000px;
}

/* stert overriding Bootstrap */

/* Main navbar */
.navbar {
  min-height: 70px;
  background-color: #222;
}

/* navbar link */
.navbar-inverse .navbar-nav > li > a {
  color: plum;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 16px;
}
.navbar-inverse .navbar-brand {
  margin-top: 10px;
  color: plum;
  font-size: 35px;
}

.dropdown-menu {
  background: #333;
  border-top: 3px solid pink;
  min-width: 200px;
}
.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}

.dropdown-menu > li > a {
  color: white;
  padding: 6px 20px;
  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  -o-transition: padding 0.5s ease;
  transition: padding 0.5s ease;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: rgb(219, 216, 216);
  padding: 23px;
}
.dropdown-menu .divider {
  background-color: pink;
}
.navbar-toggle {
  margin-top: 15px;
}

.carousel-caption {
  bottom: 110px;
  background: rgba(3, 3, 3, 0.3);
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 100%;
}

/* Start section about */

.about {
  padding-top: 40px;
  padding-bottom: 60px;
}
.about h1 {
  font-weight: bold;
}
.about .lead {
  color: #555;
  font-size: 25px;
  margin-top: 15px;
}
/* start section features */
.features {
  background: plum;
  padding-top: 50px;
  padding-bottom: 50px;
}
.features .feat {
  margin-bottom: 30px;
}
.features .feat p {
  line-height: 2em;
}
.features h1 {
  margin-bottom: 50px;
}
.features .feat span.glyphicon {
  font-size: 25px;
  margin-bottom: 10px;
  color: rgba(3, 3, 3, 0.3);
}
/* Start section testimonials */
.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
}
.testimonials h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.testimonials .lead {
  line-height: 2em;
  margin-bottom: 13px;
}

.testimonials span {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}
.testimonials .carousel-inner {
  min-height: 160px;
}

.testimonials .carousel-indicators {
  position: static;
  width: 100%;
  margin-left: auto;
}
.testimonials .carousel-indicators li {
  text-indent: 0;
  width: 80px;
  height: 80px;
  opacity: 0.5; /* opacity لعمل الصور شفافه */
  border: 3px solid red;
  border-radius: 50%;
  overflow: hidden; /* حذف اي جزء من الصوره خارج البوردر */
  margin: 5px;
  -webkit-transition: all 5.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.testimonials .carousel-indicators li img {
  width: 100%;
}
.testimonials .carousel-indicators li.active {
  width: 80px;
  height: 80px;
  opacity: 1; /* opacity لعمل الصور شفافه */
  background: none;
  border: 3px solid cadetblue;
}

/* Start section price table */
.price-table {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(218, 209, 209);
}
.price-table h1 {
  margin-bottom: 35px;
}
.price-table .price-box {
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px;
}
.price-table .price-box h3 {
  border: 5px 0 15px;
}
.price-table .price-box:hover p {
  -webkit-transform: scale(1.1, 1.1) rotate(360deg);
  -moz-transform: scale(1.1, 1.1) rotate(360deg);
  -o-transform: scale(1.1, 1.1) rotate(360deg);
  transform: scale(1.1, 1.1) rotate(360deg);
  border: 2px solid #dfdfdf;
}

.price-table .price-box p {
  font-size: 35px;
  font-weight: bold;
  color: #666;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f3f3f3;
  line-height: 100px;
  border: 2px solid #fff;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.price-table .price-box ul {
  line-height: 250%;
  font-size: 18px;
}
.price-table .price-box a {
  margin-bottom: 5px;
}

/* Start section our team */
.our-team {
  background: url(../images/AdobeStock_143110026.jpeg) no-repeat center center
    fixed;
  min-height: 600px;
}
.our-team .team {
  background: rgba(2, 2, 2, 0.8);
  color: #fff;
  min-height: 600px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.our-team .team img {
  width: 80px;
  height: 80px;
  background: white;
}
.our-team h1 {
  margin-bottom: 60px;
}
.our-team .person {
  margin-bottom: 40px;
}
/* Start section Subscribe */
.subscribe {
  padding-top: 40px;
  padding-bottom: 70px;
  background: aqua;
}
.subscribe h1 {
  color: black;
  letter-spacing: 2px; /* (لعمل مسافات بين الحروف) */
  padding-bottom: 20px;
}
.subscribe p {
  margin-bottom: 30px;
}
.subscribe .form-control {
  border-radius: 0;
  margin-right: -5px;
  width: 300px;
}
.subscribe button {
  border-radius: 0;
}

/* Start section statistics */
.statistics {
  background: url(../images/Windmills.jpg) no-repeat center center fixed;
  min-height: 400px;
}
.statistics .data {
  background-color: rgba(2, 2, 2, 0.7);
  color: #b6b5b5;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 70px;
}
.statistics h1
{
  padding-bottom: 60px;
}
.statistics .stats{
  -webkit-transition: all 0.5 ease-in-out;
  -moz-transition: all 0.5 ease-in-out;
  -o-transition: all 0.5 ease-in-out;
 transition: all 0.5 ease-in-out;
  margin-bottom: 30px;

}
.statistics .stats :hover{
  color: white;
}
.statistics p
{
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 0;
}
.statistics .span{
  font-size: 18px;
  margin-bottom: 20px;
}
